@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@500&display=swap');

body{
  background-color: #212326;
}
#toaa{
  align-items: center;
}
#elinput{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  width: 500px;
  height: 70px;
  border-radius: 8px;
  font-size:50px;
 font-family: 'Noto Sans Display', sans-serif;

}

#bottomtext{
 text-align: center;
 font-family: 'Noto Sans Display', sans-serif;
 font-size: 80px;
 color: white;
 background-color: #595a5c;
}